#__next {
  min-height: 100vh;
}

#__next > div:first-child {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.cursor-pointer {
  cursor: pointer;
}

.chart .grid .tick line {
  stroke: #9FAAAE;
  stroke-opacity: 0.5;
}

.chart .bar .rect {
  fill: #ff7979
}

.chart .bar .rect:hover {
  fill: #eb4d4b!important
}

.chart rect.bar {
  fill: #ff7979
}

.chart rect.bar:hover {
  fill: #eb4d4b!important
}

.chart path.density-a-path:hover {
  fill: #130f40!important
}

.chart path.density-b-path:hover {
  fill: #eb4d4b!important
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: #130f40;
  color: #dff9fb;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: #130f40;
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}